textarea:focus, input:focus, button:focus{
    outline: none;
}
h2, h3{
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
p{
    margin: 0;
}
textarea, input {
    border: none;
}